body {font-family: 'Quicksand', sans-serif;}

.header {font-family: 'Quicksand', sans-serif; font-size:xx-large;}

html {background-color: rgb(175, 193, 228);}

h2 {margin-top: -25px;}

h2 {color:seashell;}

.dateheader {margin-top: -25px;}

.credits {font-size:small}

.pagepics {max-width: 400px; 
    max-height: 400px;
    float:right;
    border-radius: 12px;
}
.blogpics {display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 30% !important;
}

.content {background-color: rgb(167, 172, 177); 
            max-width: 70%; 
            font-size:xx-large;
        border-radius: 12px;
        overflow: auto;
        }

.pagescontent {background-color: rgb(167, 172, 177); 
    max-width: 70%; 
    font-size:large;
border-radius: 12px;
overflow: auto;
} 

.image {padding-left: 50px;}

.links {float: right;  position: relative; top: 150px; left: 230px;
}

.linkshome {float: right;  position: relative; top: 110px; left: -120px;}

.linkscake {float: right;  position: relative; top: -950px; left: -120px;}

.tech {background-color: darkblue;
         color: white; 
         font-family: 'Quicksand', sans-serif;
        border-radius: 12px; 
        font-size: xx-large;
        margin-right: 50px;
        margin-bottom: 25px;
}

.core {background-color: darkblue;
    color: white; 
    font-family: 'Quicksand', sans-serif;
    border-radius: 12px; 
    font-size: xx-large;
}

.home {background-color: darkblue;
    color: white; 
    font-family: 'Quicksand', sans-serif;
   border-radius: 12px; 
   font-size: xx-large;
   margin-right: 50px;
   margin-bottom: 25px;
}

button {display:block;
   
}

a {text-decoration: none;
    color: white;
}

a:visited {color:white;
}